
@{
    ViewBag.Title = "FilesContractors";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<br /><br />
<div class="row">
    <div class="col-md-6 text-center">

        <p>
            TaxCare

        </p>
        <a class="fa fa-caret-up fa-4x" href="/TaxCare/files">
        </a>
        <br/><br />
    </div>

    <div class="col-md-6  text-center">

        <p>TaxSafe</p>
        <a class="fa fa-save fa-4x" href="/TaxSafe/files">
        </a>
    </div>
</div>
