<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2cbb2e02-90fc-40ad-b1ed-05f519232baa/resourcegroups/officeTehnadzor/providers/Microsoft.Web/sites/ODRadmin20170610014413</ResourceId>
    <ResourceGroup>officeTehnadzor</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://odradmin20170610014413.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>odradmin20170610014413.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ODRadmin20170610014413</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ODRadmin20170610014413</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ApplicationServices" Order="1" Enabled="False">
          <Destination Path="Data Source=officetehnadzordbserver1.database.windows.net;Initial Catalog=officeTehnadzordb;User ID=oderstock;Password=Ave19751202." />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ODRadmin.Models.ApplicationDbContext, ODRadmin" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ApplicationServices-Web.config Connection String">
      <ParameterValue>Data Source=officetehnadzordbserver1.database.windows.net;Initial Catalog=officeTehnadzordb;User ID=oderstock;Password=Ave19751202.</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ApplicationServices-Web.config Connection String">
      <ParameterValue>Data Source=officetehnadzordbserver1.database.windows.net;Initial Catalog=officeTehnadzordb;User ID=oderstock;Password=Ave19751202.</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ApplicationServices-Web.config Connection String">
      <ParameterValue>Data Source=officetehnadzordbserver1.database.windows.net;Initial Catalog=officeTehnadzordb;User ID=oderstock;Password=Ave19751202.</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ApplicationServices-Web.config Connection String">
      <ParameterValue>Data Source=officetehnadzordbserver1.database.windows.net;Initial Catalog=officeTehnadzordb;User ID=oderstock;Password=Ave19751202.</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ApplicationServices-Web.config Connection String">
      <ParameterValue>Data Source=officetehnadzordbserver1.database.windows.net;Initial Catalog=officeTehnadzordb;User ID=oderstock;Password=Ave19751202.</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>