
@{
    ViewBag.Title = "FilesTaxSafe";
}

<img src="~/Content/Image/TaxSafe.png" />
<h2>Files TaxSafe - ODR Sp. z o.o.</h2>




@using (Html.BeginForm())
{
    @Html.Action("FileManagerPartial")
}

<p><a href="https://panel.kdp-kancelaria.pl/pi/">Panel TaxSafe</a></p>

<p>Login: 2600xvialichkaa</p>
